<html>
<head>
  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
  <div id="header_background">
  <nav id="nav_bar">
    <ul>
      <li><button id="home_button"><a href="/">Home</a></li></button>
    </ul>
    </nav>
    <h1 id="page_header">Rock, Paper, Scissors</h1>
  </div>
    <%= yield %>
</body>
</html>
