<html>
<head>
  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
    <h1 id="page_header">Rock, Paper, Scissors</h1>
    <%= yield %>
  </nav>
</body>
</html>
